@model WheelOfFortune.Models.Wheels.WheelSliceContainer

<tr>
    <td>
        @Html.TextBoxFor(m => m.probability)
    </td>
    <td>
        @Html.TextBoxFor(m => m.value)
    </td>
    <td>
        @Html.TextBoxFor(m => m.userData.SliceMultiplier)
    </td>
    <td>
        @Html.TextBoxFor(m => m.resultText)
    </td>
    <td>
        @Html.TextBoxFor(m => m.win)
    </td>
</tr>